<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form method="post" enctype="multipart/form-data" id="fileUploadForm" th:action="@{/}">
    <input type="file" name="file"/><br/>
    <ul>
        <li>
            <input type="radio" name="checkType" value="textAnalyzer">Run Text Analyzer</input><br/>
        </li>
        <li>
            <input type="radio" name="checkType" value="bracketsAnalyzer">Run Brackets Analyzer</input>
        </li>
    </ul>
    <input type="submit" value="Check" id="btnSubmit"/>
</form>
</body>
</html>